<div class="jumbotron">
    <form>
        <div class="row form-group">
            <div class="col-sm-2">
                <label>Invoice No:</label>
                <input type="text" class="form-control" placeholder="Invoice No" name="invoiceno" />
            </div>
            <div class="col-sm-2">
                <label>From date:</label>
                <input type="date" class="form-control" placeholder="From Date" name="frmdate" />
            </div>
            <div class="col-sm-2">
                <label>To date:</label>
                <input type="date" class="form-control" placeholder="To Date" name="todate" />
            </div>
            <div class="col-sm-2">
                <div style="margin-top: 30px;">
                    <button class="btn btn-primary mr-2">Search</button>
                    <button class="btn btn-danger">Reset</button>
                </div>

            </div>
        </div>
    </form>

</div>
<div class="jumbotron">

</div>